:root {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(42, 46, 43);
    color: white;
}

p {
    font-size: 20px;
}

h3 {
    color: yellow;
}

img {
    display: block;
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}


main {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    height: 100vh;
}

.sidebar {
    width: 40%;
    text-align: center;
    padding-top: 3em;
}

.content {
    width: 60%;
    text-align: center;
    padding-top: 3em;
}

.content > * + * {
    margin-bottom: 1em;
}

.title {
    font-size: 28px;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
}

button {
    all: unset;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 70%;
    border: 1px solid yellow;
    border-radius: 5px;
    padding-block: 0.5em;
    margin-bottom: 1em;
    transition: all 200ms ease-in-out;
}

button:hover {
    background-color: yellow;
    color: black;
}

.reveal-btn {
    border: 1px solid transparent;
}

.reveal-btn:hover {
    background-color: transparent;
    color: white;
    border-color: yellow;
    border-radius: 5px;
}